{% extends 'base.html' %}

{% block title %}
Apie Mus
{% endblock %}

{% block content %}
    <h1 class="mt-4">Apie Mus</h1>
    <p>Mes esame internetinė platforma, kur žmonės gali parduoti ir pirkti unikalius rankų darbo produktus.</p>
    <p>Mūsų svetainėje rasite plačią asortimentą prekių, kurias sukūrė talentingi amatininkai iš viso pasaulio.</p>
    <p>Siekiant palaikyti kūrybinę bendruomenę, teikiame galimybę rodyti unikalius produktus ir rasti pirkėjus, kurie vertina rankų darbą.</p>
    <p>Jeigu turite klausimų ar pasiūlymų, prašome susisiekti su mumis per kontaktų puslapį.</p>
{% endblock %}
