{% extends 'base.html' %}

{% block title %}Krepšelis{% endblock %}

{% block content %}
    <h1 class="mt-4">Krepšelis</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Prekė</th>
                <th>Kiekis</th>
                <th>Kaina</th>
                <th>Viso</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Produktas 1</td>
                <td>2 vnt.</td>
                <td>€10</td>
                <td>€20</td>
            </tr>
            <tr>
                <td>Produktas 2</td>
                <td>3 vnt.</td>
                <td>€15</td>
                <td>€45</td>
            </tr>
        </tbody>
    </table>
    <div class="text-right">
        <h4>Viso: €65</h4>
        <a href="#" class="btn btn-primary">Užbaigti Užsakymą</a>
    </div>
{% endblock %}
