{% extends 'base.html' %}

{% block title %}Apmokėjimas{% endblock %}

{% block content %}
<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>Iveskite apmokėjimo ir pristatymo duomenis</h2>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Jūsų krepšelis</span>
          <span class="badge bg-primary rounded-pill">{{ cart_items|length }}</span>
        </h4>
        <ul class="list-group mb-3">
          {% for item in cart_items %}
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">{{ item.product.title }}</h6>
              <small class="text-body-secondary">{{ item.product.description }}</small>
            </div>
            <span class="text-body-secondary">{{ item.product.price }} €</span>
          </li>
          {% endfor %}
          <li class="list-group-item d-flex justify-content-between">
            <span>Viso (EUR)</span>
            <strong>{{ total_price }} €</strong>
          </li>
        </ul>

        <form action="{% url 'apply_promo_code' %}" method="POST" class="card p-2">
          {% csrf_token %}
          <div class="input-group">
            <input type="text" class="form-control" name="promo_code" placeholder="Promo kodas">
            <button type="submit" class="btn btn-secondary">Panaudoti</button>
          </div>
        </form>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Apmokėjimo adresas</h4>
        <form class="needs-validation" action="{% url 'checkout' %}" method="POST" novalidate>
          {% csrf_token %}
          <!-- Your existing form fields here -->
          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Apmokėti</button>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}



