{% extends 'base.html' %}

{% block title %}Fiktyvus mokėjimas{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-4 mb-3">Fiktyvus mokėjimas</h1>

        <form action="{% url 'fake_payment' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="amount">Suma:</label>
                <input type="text" class="form-control" id="amount" name="amount" placeholder="Įveskite sumą">
            </div>
            <div class="form-group">
                <label for="card_number">Kortelės numeris:</label>
                <input type="text" class="form-control" id="card_number" name="card_number" placeholder="Įveskite kortelės numerį">
            </div>
            <div class="form-group">
                <label for="card_holder">Kortelės savininkas:</label>
                <input type="text" class="form-control" id="card_holder" name="card_holder" placeholder="Įveskite kortelės savininką">
            </div>
            <button type="submit" class="btn btn-primary">Patvirtinti mokėjimą</button>
        </form>
    </div>
{% endblock %}





