{% extends 'base.html' %}

{% block title %}Pagalba{% endblock %}

{% block content %}
    <h1 class="mt-4">Pagalba</h1>
    <p>Sveiki! Jei turite kokių nors klausimų arba reikia pagalbos, prašome susisiekti su mumis.</p>
    <p>Mūsų klientų aptarnavimo komanda yra pasiruošusi padėti jums.</p>
    <ul>
        <li>El. paštas: info@example.com</li>
        <li>Telefonas: +370 123 45678</li>
    </ul>
    <p>Darbo valandos: pirmadienis-penktadienis 9:00-17:00</p>
    <p>Atsakysime į jūsų klausimus kuo greičiau!</p>
{% endblock %}
