{% extends 'base.html' %}

{% block content %}
<main class="form-signin">
  <form>
    <h1 class="h3 mb-3 fw-normal">Prisijungimas</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">El. pašto adresas</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Slaptažodis">
      <label for="floatingPassword">Slaptažodis</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Prisiminti mane
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Prisijungti</button>
  </form>
</main>
{% endblock %}

