{% extends 'base.html' %}

{% block title %}Užsakymo Kūrimas{% endblock %}

{% block content %}
    <h1 class="mt-4">Užsakymo Kūrimas</h1>
    <p>Užpildykite žemiau esančią formą, kad sukurtumėte užsakymą.</p>
    <form>
        <div class="form-group">
            <label for="name">Vardas</label>
            <input type="text" class="form-control" id="name" placeholder="Įveskite savo vardą">
        </div>
        <div class="form-group">
            <label for="email">El. paštas</label>
            <input type="email" class="form-control" id="email" placeholder="Įveskite savo el. paštą">
        </div>
        <div class="form-group">
            <label for="address">Adresas</label>
            <input type="text" class="form-control" id="address" placeholder="Įveskite pristatymo adresą">
        </div>
        <div class="form-group">
            <label for="quantity">Kiekis</label>
            <input type="number" class="form-control" id="quantity" placeholder="Įveskite produkto kiekį">
        </div>
        <button type="submit" class="btn btn-primary">Pateikti Užsakymą</button>
    </form>
{% endblock %}
