{% extends 'base.html' %}

{% block title %}Apmokėjimas sėkmingas{% endblock %}

{% block content %}
<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>Apmokėjimas sėkmingas!</h2>
      <p>Dėkojame, kad apsipirkote mūsų parduotuvėje. Prekes netrukus pristatysime Jūsų nurodytu adresu. Apie pristatymo detales būsite informuoti elektroniniu paštu bei SMS žinute.</p>
      <a href="{% url 'home' %}" class="btn btn-success">Grįžti į pagrindinį puslapį</a>
    </div>
  </main>
</div>
{% endblock %}


