{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="mt-4 mb-3">Apmokėjimas</h1>

        <form action="{% url 'payment' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="stripeToken">Stripe Token:</label>
                <input type="text" class="form-control" id="stripeToken" name="stripeToken" placeholder="Įveskite Stripe Token">
            </div>
            <div class="form-group">
                <label for="card_number">Kortelės numeris:</label>
                <input type="text" class="form-control" id="card_number" name="card_number" placeholder="Įveskite kortelės numerį">
            </div>
            <div class="form-group">
                <label for="card_holder">Kortelės savininkas:</label>
                <input type="text" class="form-control" id="card_holder" name="card_holder" placeholder="Įveskite kortelės savininką">
            </div>
            <!-- Kitos kortelės duomenys -->
            <button type="submit" class="btn btn-primary">Patvirtinti mokėjimą</button>
        </form>
    </div>
{% endblock %}




