{% extends 'base.html' %}

{% block title %}Produkto Informacija{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{{ product.title }}</h5>
        </div>
        <div class="card-body">
            <p>{{ product.description }}</p>
            <p>Kaina: {{ product.price }} EUR</p>
            <p>Turimas kiekis: {{ product.quantity }} vnt.</p>
            <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary">Įdėti į krepšelį</a>
        </div>
    </div>
{% endblock %}
