{% extends 'base.html' %}

{% block title %}Produkto Informacija{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Produkto Pavadinimas</h5>
        </div>
        <div class="card-body">
            <p>Šis unikalus produktas yra rankų darbo kūrinys, sukurtas su meile ir rūpesčiu.</p>
            <p>Pasirinkite šį produktą, jei ieškote aukštos kokybės ir išskirtinio dizaino.</p>
            <p>Kaina: €50</p>
            <p>Turimas kiekis: 10 vnt.</p>
            <button class="btn btn-primary">Pirkti</button>
        </div>
    </div>
{% endblock %}
