{% extends 'base.html' %}

{% block title %}Vartotojo Profilis{% endblock %}

{% block content %}
    <h1 class="mt-4">Vartotojo Profilis</h1>
    <h3>Vardas: {{ user.username }}</h3>
    <p>El. paštas: {{ user.email }}</p>
    <p>Adresas: {{ user.userprofile.location }}</p>
    <p>Telefono numeris: {{ user.userprofile.phone_number }}</p>
    <p>Paskutinis prisijungimas: {{ user.last_login }}</p>
    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Redaguoti Profilį</a>
    <a href="{% url 'add_product' %}" class="btn btn-primary">Įkelti Prekę</a>
{% endblock %}

